body{
    background-image: url(./images/bg.png);
}

h1{
    text-align: center;
}
section{
    margin-bottom: 40px;
    margin-left: 12px;
}
span{
    margin-left: 1.5%;
}


/* estilo */
.newspaper{
    background-color: rgb(250, 235, 215);
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
}
.magazine1{
    background-color: rgb(0, 128, 128);
    font-family: 'Verdana';
    font-weight: 900;
    color:rgb(255, 255, 255);
    text-transform: uppercase;
}
.magazine2{
    background-image: url(./images/pink-pattern.png);
    font-family: 'Verdana';
    font-weight: 900;
    color:rgb(255, 0, 255);
}

/* tamanho */
.medium{
    font-size: 20px;
    padding: 8px;
}
.big{
    font-size: 30px;
    padding: 10px;
}
.reallybig{
    font-size: 40px;
    padding: 15px;
}

/* rotação */
.rotateleft{
    transform: matrix(0.996195, -0.0871557, 0.0871557, 0.996195, 0, 0);
}
.rotateright{
    transform: matrix(0.996195, 0.0871557, -0.0871557, 0.996195, 0, 0);
}

/* inclinação */
.skewleft{
    transform: matrix(1, 0, 0.176327, 1, 0, 0);
}

.skewright{
    transform: matrix(1, 0, -0.176327, 1, 0, 0);
}